// == START OF contacts 03 ==
.contacts.contacts--03
	.contacts__map_box--03
		.contacts__map.js-map(
		data-zoom="14",
		data-center-lat="40.855",
		data-center-lng="-73.885",
		data-pin-lat="40.8654697",
		data-pin-lng="-73.8938313")
	.container
		.row
			.col-lg-6.col-md-12.col-lg-offset-6.col-md-offset-0
				.contacts__info--03
					h2.contacts__title.contacts__title--03
						| Contacts
					.contacts__content--03
						.contacts__item.contacts__item--03
							h3.contacts__item_title
								| Office
							span.contacts__item_text
								| 250 Bedford Park Blvd W,
								br
								| New York, NY, 10468
						.contacts__item.contacts__item--03
							h3.contacts__item_title
								| Phone numbers
							span.contacts__item_text
								| +1 646 245-2910
								br
								| +1 646 245-2920
					.contacts__content--03
						.contacts__item.contacts__item--03
							h3.contacts__item_title
								| sales email
							span.contacts__item_text
								| John Daves
							br
							a.contacts__item_text(href="mailto:sales@ui-market.com", target="_blank")
								| sales@ui-market.com
						.contacts__item.contacts__item--03
							h3.contacts__item_title
								| support email
							span.contacts__item_text
								| Vincent Vega
							br
							a.contacts__item_text(href="mailto:support@ui-market.com", target="_blank")
								| support@ui-market.com
// == END OF contacts 03 ==